<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animated Video</title>

</head>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .container {
            width: 90%;
        }
        
        #animatedVideo {
            height: 100%;
            border: none;
            width: 100%;
            border-radius: 0px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        }
    </style>        

<body>
    <div class="container">
        <video id="animatedVideo" autoplay loop muted>
            <source src="interview.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <script src="script.js"></script>
</body>
</html>
